$off-white: #fcfcfc;
$light-gray: #f4f7f6;
$orange-red: #FF4E4E;
$light-purple: #8154EF;
$orange: #FF8601;
$light-teal: #9FD2D6;
$teal: #49c5b6;
$border-gray: #E6EAEA;

@mixin nav-text {
  text-transform: uppercase;
  line-height: 73px;
  font-size: 13px;
  font-family: helvetica;
}

@mixin button-style($background-color: $light-gray) {
  background-color: $background-color;
  text-align: center;
  border: 1px solid $border-gray;
  padding: 0 10px;
}

body {
  margin: 0;
  background-color: $light-gray;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    @include button-style;
  }
  .menu p {
    @include nav-text;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    @include nav-text;
    @include button-style($teal);
    color: white;
  }
}

.nav-top {
  display: flex;
  flex-direction: row;
  // height: 60px;
  border: 1px solid $border-gray;
  align-items: center;
  p {
    font-weight: bold;
    padding: 10px;
    height: 100%;
  }
  button {
    @include button-style;
    @include nav-text;
  }
  .contries {
    border-right: none;
  }
  .glyph-menu {

  }
  .glyph-menu a {
    color: orange;

  }
} // end of nav-top

.sites {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0 35px;
  margin-top: 20px;
  .web-card {
    flex: 1 0 auto;
    padding: 0 0 35px 35px;
    // max-width: 90%;
    img {
      width: 100%;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "apercu",sans-serif;
  padding: 30px;
  background-color: $off-white;
  a {
    text-decoration: none;
    color: black;
  }
  .conference, .footer-misc {
    font-size: 18px;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
  }
  .social-media a {
    margin: 0 3px;
  } 
}


@media screen and (max-width: 468px) {

  .sites {
    padding: 0 23px;
    flex-direction: column;
    .web-card {
      max-width: 100%;
      padding: 0 0 23px 0;
    }
  }
}

@media screen and (max-width: 557px) and (min-width: 469px){
  .sites {
    padding: 0 30px;
    .web-card {
      max-width: 80vw;
      padding: 0 0 30px 0;
    }
  }
}

@media screen and (max-width: 1009px) and (min-width: 558px) {
  .web-card {
    max-width: 35vw;
    padding: 0 0 30px 0;
  }
}

@media screen and (min-width:1010px) and (max-width: 1465px) {
  .web-card {
    max-width: 29%;
  }
  .conference {
    align-self: flex-end;
    margin-bottom: -50px;
  }
}

@media screen and (min-width:1466px) {
  .web-card {
    max-width: 20%;
  }
  .conference {
    align-self: flex-end;
    margin-bottom: -50px;
  }

}

//end
